

RewriteEngine on



#RewriteCond %{REQUEST_URI} ^/(.*)$ [NC]
#RewriteRule ^(.*)$ http://$1.deutschlandblick.com [L]



# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

